.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
	margin: 0;
	float: left;
}

.sprite-logo {
    width: 46px;
    height: 44px;
    background-position: -5px -5px;
}

.sprite-logo-orange {
    width: 46px;
    height: 44px;
    background-position: -61px -5px;
}
