.container {
	margin: 0 auto;
	width: 1366px;
	height: 768px;
	background-image: url(../img/Milan_background.jpg);
	font-family: "Verdana", sans-serif;
	line-height: 21px;
	color: #fff;
}

a {
	text-decoration: none;
	color: #fff;
}

p {
	margin: 0;
}

.header {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 48px 0;
	box-sizing: border-box;
	width: 1070px;
	height: 44px;
}

h1, h2 {
	margin: 0;
	font-weight: 700;
	text-transform: uppercase;
}

h1.t-logo {
	font-size: 29px;
}

h2.t-logo {
	margin-top: 4px;
	font-size: 18px;
}

.logo {
	display: inline-block;
	padding-left: 15px;	
}

a:hover p {
	background-position: -61px -5px;
}

a:hover  .t-logo {
	color: #f26522;
}

.contacts {
	text-align: right;
	font-size: 18px;
}

.foto {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	margin: 45px auto;
	width: 1072px;
	height: 548px;
}

.foto-block {
	width: 311px;
	height: 245px;
}

.foto-item {
	width: 307px;
	height: 200px;
	border: 2px solid transparent;
	-moz-border-image: -moz-linear-gradient(top, #ebeded 0%, #28282b 100%);
	-webkit-border-image: -webkit-linear-gradient(top, #ebeded 0%, #28282b 100%);
	border-image: linear-gradient(to bottom, #ebeded 0%, #28282b 100%);
	border-image-slice: 1;
	box-shadow: 0 18px 10px 1px rgba(0, 0, 0, 0.6);
}

.figure-item {
	margin: 0;
}

.foto-sign {
	padding-top: 15px;
	text-align: center;
	text-transform: capitalize;
	font-size: 18px;
}

.figure-item:hover .foto-sign {
	color: #f26522;
}

.figure-item:hover .hidden-link {
	opacity: 1;
}

.hidden-link {
	position: relative;
	bottom: 104px;
	box-sizing: border-box;
	width: 311px;
	height: 63px;
	background: #f26522;
	opacity: 0;
}

.details {
	display: inline-block;
	padding-top: 5px;
	padding-left: 21px;
}

.from {
	font-size: 10px;	
}

.price {
	font-size: 20px;
}

.side-arrow {
	display: inline-block;
	padding-left: 125px;
	font-size: 14px;
}

.side-arrow:after {
	content: '\203A';
	padding-left: 15px;
}

.footer {	
	text-align: center;
	font-size: 12px;	
}